<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Dashboard</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
