<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        <h1>Stats</h1>
    </div>

    <div class="row">
        <div class="center col-md-3 col-xs-6">
            <h4>Block Number</h4>
            <p><%= blockNumber %></p>
        </div>

        <div class="center col-md-3 col-xs-6">
            <h4>Connected Peers</h4>
            <p><%= peerCount %></p>
        </div>
    </div>

</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>
</body>
</html>
